html {
  box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('fonts/MullerRegular.woff2') format('woff2'),
		url('fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('fonts/MullerMedium.woff2') format('woff2'),
		url('fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('fonts/MullerBold.woff2') format('woff2'),
		url('fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Light'),
		url('fonts/MullerLight.woff2') format('woff2'),
		url('fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-offset:not(:last-child) {
  margin-bottom: 70px;
}

.section-offset:last-child {
  margin-bottom: 40px;
}

/* header */
.header {
  padding-top: 30px;
}

.header-container {
  align-items: center;
}

.header-up {
  margin-bottom: 30px;
}

.header-nav {
  margin: 0;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.header-logo {
  margin-right: 40px;
}

.contacts-adress {
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: auto;
}

.header-nav-list {
  margin-right: 110px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.header-item {
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
}

.btn {
  font-weight: 400;
  color: rgba(204, 153, 51, 1);
  font-size: 16px;
  padding: 13px 20px;
  background-color: #fff;
  border: 1px solid rgba(204, 153, 51, 1);
  border-radius: 10px;
}

/* hero */
.hero {
  align-items: center;
  min-height: 600px;
}

.section-content {
  flex-direction: row;
  align-items: center;
}

.hero-content {
  width: 573px;
  min-height: 540px;
  margin-right: 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.hero-content2 {
  width: 573px;
  min-height: 540px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: flex-end;
  align-items: flex-start;
  border-radius: 15px;
}

.hero-descr {
  flex: auto;
  padding: 40px 108px 40px 45px;
  margin: 0;
  width: 573px;
  min-height: 178px;
  flex-wrap: wrap;
}

.hero-descr:not(:last-child) {
  margin-bottom: 24px;
}

.card-1 {
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-image: url(/img/hero1.jpg);
  background-size: cover;
  background-position: center center;
}

.card-2 {
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-image: url(/img/hero2.jpg);
  background-size: cover;
  background-position: center center;
}

.hero-descr2 {
  flex: auto;
  margin: 0;
  padding: 212px 229px 40px 45px;
  width: 229px;
  min-height: 288px;
  flex-wrap: wrap;
}

.hero-content2 {
  overflow: hidden;
  border-radius: 15px;
  align-self: stretch;
}

.card-3 {
  display: block;
  width: 573px;
  min-height: 540px;
  background-repeat: no-repeat;
  background-image: url(/img/hero3.jpg);
  background-size: cover;
  background-position: center center;
}

.card-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.card-title-big {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.card-price {
  margin: 0;
  margin-bottom: 47px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  opacity: 0.8;
}

.card-price-big {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  opacity: 0.8;
}

.hero-btn {
  color: #F0BF5F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url(/img/more-1.svg);
  background-position: right center;
  background-size: 11px;
  background-repeat: no-repeat;
  padding-right: 18px;
}

/* join-us */
.section-descr {
  margin: 0;
}

.join-descr {
  max-width: 888px;
  min-height: 192px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

/* services */
.serv-con-title {
  margin: 0;
}

.services-descr {
  margin: 0;
}

.services-content {
  flex-direction: column;
  align-items: center;
  width: 573px;
  min-height: 330px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: #fff;
}

.services-content:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list {
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: stretch;
}

.blog-preview {
  overflow: hidden;
  border-radius: 15px;
  flex-direction: column;
}

.blog-preview-image-1 {
  background-image: url(/img/serv-1.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-2 {
  background-image: url(/img/serv-2.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-3 {
  background-image: url(/img/serv-3.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-4 {
  background-image: url(/img/serv-4.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-text {
  min-height: 165px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 126px 26px 45px;
}

.serv-btn {
  color: #C93;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  background-image: url(/img/more-2.svg);
  background-position: right center;
  background-size: 11px;
  background-repeat: no-repeat;
  padding-right: 18px;
}

.services-descr {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

/* advantages */
.advantages-items {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: stretch;
}

.advantages-item {
  width: 276px;
  min-height: 276px;
  align-items: center;
  margin-bottom: 22px;
  border-radius: 15px;
  background: #FFF;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.item-img {
  padding: 40px 42px 32px 45px;
}

.item-svg {
  margin: 0;
  margin-bottom: 10px;
}

.advantages-item-desc {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

 /* location */
.section-item {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: flex-start;
}

.location-item {
  display: flex;
  overflow: hidden;
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 15px;
  background: #FFF;
  align-self: stretch;
  align-items: flex-start;
}

.location-item:nth-child(3n) {
  margin-right: 0;
}

.lication-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 45px 45px 45px;
}

.loc-option {
  max-width: 374px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.loc-price {
  max-width: 160px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.from {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loc-img {
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 374px;
}

.star:not(:nth-child(5n)) {
  margin-right: 6px;
}

.loc-item-title {
  margin: 0;
  margin-bottom: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.geoposition {
  margin-bottom: 20px;
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rooms {
  padding: 13px 20px;
}

.loc-more {
  width: 374px;
  min-height: 440px;
  padding: 27px;
  background-repeat: no-repeat;
  background-image: url(/img/loc-more.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-self: stretch;
}

.loc-btn {
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  align-self: flex-end;
}

.loc-span {
  margin-right: 10px;
}

/* blog */
.blog-container {
  min-height: 256px;
  border-radius: 15px;
  background: #E9E9E9;
  justify-content: center;
}

.blog-title {
  padding-left: 40px;
  padding-top: 45px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog-travel {
  width: 1080px;
  height: 106px;
  justify-content: center;
}

.blog-trip {
  margin: 0;
  padding: 31px 28px 32px 28px;
  width: 1080px;
  min-height: 106px;
  border-radius: 15px;
  background: #FFF;
  justify-content: space-between;
  border: hidden;
}

.choice {
  align-self: center;
  width: 913px;
}

.form {
  display: flex;
  justify-content: center;
}

.blog-text {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  display: block;
}

.text-trip:not(:last-child) {
  margin-right: 41px;
  flex-grow: 1;
}

.text-trip:last-child {
  margin-right: 51px;
}

.city {
  border: hidden;
  width: 169px;
}

.country {
  border: hidden;
  width: 169px;
}

.date {
  border: hidden;
  width: 121px;
}

.night {
  border: hidden;
  width: 121px;
  border-bottom: inset;
}

.tourist {
  border: hidden;
  width: 121px;
  border-bottom: inset;
}

.blog-button {
  justify-self: flex-end;
}

.blog-btn {
  padding: 13px 30px;
  align-self: center;
}

/* contacts */
.contacts {
  min-height: 618px;
}

.contacts-blog {
  border-radius: 15px;
  background: #FFF;
  padding: 45px;
  justify-content: space-between;
}

.contacts-left {
  flex-direction: column;
  width: 375px;
}

.contact-info {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
  padding-bottom: 23px;
}

.contact-info:last-child {
  margin-bottom: 45px;
}

.contact-item-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts-item-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 229px;
  min-height: 48px;

}

.contact-item-tel {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-item-link {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-link-text {
  margin: 0;
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.descr-item-contact {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 214px;
  min-height: 48px;
}

.left-contacts {
  width: 145px;
}

.contacts-tel {
  flex-direction: column;
}

.contacts-link {
  flex-direction: column;
}

.contacts-link-mail {
  flex-direction: column;
}

.contacts-list {
  flex-direction: column;
}

.btn-contacts {
  padding: 27px 29.5px;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-img {
  margin: 0;
  width: 653px;
  min-height: 528px;
  background-image: url(/img/contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-self: stretch;
  border-radius: 10px;
}

/* footer */
.footer {
  margin-bottom: 30px;
}

.footer-container {
  min-height: 340px;
  flex-direction: column;
  background: #333;
  border-radius: 15px;
}

.footer-contain {
  padding: 45px;
  background: url(/img/footer-logo.svg);
  background-repeat: no-repeat;
  background-position-x: 739px;
  background-position-y: bottom;
  margin-bottom: 1px;
}

.footer-left {
  flex-direction: column;
  width: 302px;
  margin-right: 125px;
}

.footer-info {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  margin-bottom: 37px;
}

.footer-text {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  margin-bottom: 40px;
}

.footer-link {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-center {
  flex-direction: column;
  width: 359px;
  margin-right: 269px;
}

.footer-adress {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}

.footer-tel {
  flex-direction: column;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 15px;
}

.footer-link-mail {
  flex-direction: column;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-right {
  flex-direction: column;
}

.footer-icon {
  flex-direction: column;
  align-self: flex-end;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-item {
  background-position: right;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link-group {
  background-image: url(/img/group.svg);
}

.social-link-ok {
  background-image: url(/img/ok.svg);
}

.social-link-vk {
  background-image: url(/img/vk.svg);
}