html {
  box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('fonts/MullerRegular.woff2') format('woff2'),
		url('fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('fonts/MullerMedium.woff2') format('woff2'),
		url('fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('fonts/MullerBold.woff2') format('woff2'),
		url('fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Light'),
		url('fonts/MullerLight.woff2') format('woff2'),
		url('fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  border: 1px solid #C93;
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  transition: color 0.5s ease-in-out;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* header */

.header {
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-container {
  align-items: center;
}

.header-up {
  margin-bottom: 30px;
}

.header-nav {
  margin: 0;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.header-logo {
  margin-right: 40px;
}

.contacts-adress {
  margin-right: auto;
}

.header-tel {
  position: relative;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.5s ease-in-out;
}

.header-tel:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.header-tel:hover {
  color: rgba(204, 153, 51, 1);
}

.header-tel:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.header-link-lk {
  display: flex;
  align-items: center;
  color: rgba(204, 153, 51, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  transition: translate 0.5s ease-in-out;
}

.header-link-lk:focus {
  outline-offset: 5px;
  outline: 1px solid rgba(204, 153, 51, 1);
  color: rgba(204, 153, 51, 1);
}

.header-link-lk:hover {
  color: rgba(240, 191, 95, 1);
  transition: translate 0.5s ease-in-out;
}

.header-link-lk:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.header-link-lk-svg {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.header-link-lk svg {
  fill: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-link-lk:focus svg {
  fill: transparent;
  stroke: rgba(204, 153, 51, 1);
}

.header-link-lk:hover svg {
  fill: rgba(240, 191, 95, 1);
}

.header-link-lk:active svg {
  fill: rgba(164, 115, 18, 1);
}

.header-nav-list {
  margin-right: 110px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.header-item {
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

.header-item:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.header-item:hover {
  color: rgba(204, 153, 51, 1);
}

.header-item:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.btn {
  font-weight: 400;
  color: rgba(204, 153, 51, 1);
  font-size: 16px;
  padding: 13px 20px;
  background-color: #fff;
  border: 1px solid rgba(204, 153, 51, 1);
  border-radius: 10px;
}

.header-btn {
  transition: color 0.5s ease-in-out;
}

.header-btn:focus {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.header-btn:hover {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.header-btn:active {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #A47312;
  outline: none;
}

/* hero */

.hero {
  align-items: center;
  min-height: 600px;
  margin-bottom: 70px;
}

.section-content {
  flex-direction: row;
}

.hero-content {
  width: 573px;
  min-height: 540px;
  margin-right: 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.hero-content2 {
  width: 573px;
  min-height: 540px;
  flex-wrap: nowrap;
}

.hero-descr {
  flex: auto;
  padding: 40px 108px 40px 45px;
  margin: 0;
  width: 573px;
  min-height: 178px;
  flex-wrap: wrap;
}

.hero-descr:not(:last-child) {
  margin-bottom: 24px;
}

.card-1 {
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)), url(/img/hero1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.card-2 {
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)), url(/img/hero2.jpg);
  background-size: cover;
  background-position: center center;
}

.hero-descr2 {
  flex: auto;
  margin: 0;
  padding: 212px 229px 40px 45px;
  flex-wrap: wrap;
}

.hero-content2 {
  overflow: hidden;
  border-radius: 15px;
}

.card-3 {
  display: block;
  width: 573px;
  min-height: 540px;
  background-repeat: no-repeat;
  background-image: url(/img/hero3.jpg);
  background-size: cover;
  background-position: center center;
}

.card-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.card-title-big {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.card-price {
  margin: 0;
  margin-bottom: 47px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  opacity: 0.8;
}

.card-price-big {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  opacity: 0.8;
}

.hero-span {
  align-items: center;
}

.hero-btn {
  display: inline-flex;
  color: #F0BF5F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

.hero-btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease-in-out;
}

.hero-btn:focus {
  color: #CC9933;
}

.hero-btn:focus:before {
  outline: 1px solid rgba(204, 153, 51, 1);
  outline-offset: 8px;
}

.hero-btn:hover {
  color: rgba(204, 153, 51, 1);
  transition: color 0.5s ease-in-out;
}

.hero-btn:active {
  color: rgba(255, 255, 255, 1);
}

.btn-svg {
  color: #F0BF5F;
  margin-left: var(--base-size-4, 4px);
}

.hero-cards {
  display: flex;
  position: relative;
  width: 100%;
}

.hero-cards:not(:last-child) {
  margin-bottom: 24px;
}

.hero-cards:hover {
  transition: translate 0.5s ease-in-out;
}

.hero-cards:hover span {
  transition: color 0.5s ease-in-out;
}

.hero-cards:hover svg {
  transform: translate(10px, 0);
  transition: transform 0.5s ease-in-out;
}

.hero-cards:focus {
  outline: 1px solid #C93;
  outline-offset: 8px;
}

.hero-cards:active {
  outline: none;
}

.hero-card-big {
  display: flex;
  position: relative;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.hero-card-big:focus {
  outline-offset: 8px;
  outline: 1px solid #C93;
}

.hero-card-big:active {
  outline: none;
}

.hero-card-big:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease-in-out;
}

.hero-card-big:hover {
  color: rgba(240, 191, 95, 1);
}

.hero-card-big:hover svg {
  transform: translate(10px, 0);
  transition: transform 0.5s ease-in-out;
}

.hero-card-big:active {
  color: rgba(164, 115, 18, 1);
}

/* join-us */
.section-descr {
  margin: 0;
  margin-bottom: 70px;
}

.join-descr {
  max-width: 888px;
  min-height: 192px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

/* services */

.services {
  margin-bottom: 70px;
}

.serv-con-title {
  margin: 0;
}

.services-descr {
  margin: 0;
}

.services-content {
  flex-direction: column;
  align-items: center;
  width: 573px;
  min-height: 330px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: #fff;
}

.serv-blogs {
  display: flex;
  position: relative;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.serv-blogs:focus {
  outline-offset: 8px;
  outline: 1px solid #C93;
}

.serv-blogs:active {
  outline: none;
}

.services-content:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list {
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: stretch;
}

.blog-preview {
  overflow: hidden;
  border-radius: 15px;
  flex-direction: column;
}

.blog-preview-image-1 {
  background-image: url(/img/serv-1.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-2 {
  background-image: url(/img/serv-2.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-3 {
  background-image: url(/img/serv-3.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-image-4 {
  background-image: url(/img/serv-4.jpg);
  min-height: 165px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-text {
  min-height: 165px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 126px 26px 45px;
}

.serv-btn {
  align-items: center;
  color: #C93;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}

.serv-btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease-in-out;
}

.serv-btn:hover {
  color: rgba(240, 191, 95, 1);
}

.serv-btn:hover svg {
  transform: translate(10px, 0);
  transition: transform 0.5s ease-in-out;
}

.serv-btn:active {
  color: rgba(164, 115, 18, 1);
}

.services-descr {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.advantages-items {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: stretch;
}

.advantages-item {
  width: 276px;
  min-height: 276px;
  align-items: center;
  margin-bottom: 22px;
  border-radius: 15px;
  background: #FFF;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.item-img {
  padding: 40px 42px 32px 45px;
}

.item-svg {
  margin: 0;
  margin-bottom: 10px;
}

.advantages-item-desc {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

 /* location */

.location {
  margin-bottom: 70px;
}

.section-item {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: flex-start;
}

.location-item {
  display: flex;
  overflow: hidden;
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 15px;
  background: #FFF;
  align-self: stretch;
  align-items: flex-start;
}

.location-item:nth-child(3n) {
  margin-right: 0;
}

.lication-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 45px 45px 45px;
}

.loc-option {
  max-width: 374px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.loc-price {
  max-width: 160px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.from {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loc-img {
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 374px;
}

.star:not(:nth-child(5n)) {
  margin-right: 6px;
}

.loc-item-title {
  margin: 0;
  margin-bottom: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.geoposition {
  margin-bottom: 20px;
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rooms {
  padding: 13px 20px;
  transition: color 0.5s ease-in-out;
}

.rooms:focus {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.rooms:hover {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.rooms:active {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #A47312;
  outline: none;
}

.loc-more {
  width: 374px;
  min-height: 440px;
  padding: 27px;
  background-repeat: no-repeat;
  background-image: url(/img/loc-more.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-self: stretch;
  position: relative;
}

.loc-more:hover {
  transition: translate 0.5s ease-in-out;
}

.loc-more:hover span {
  transition: color 0.5s ease-in-out;
}

.loc-more:hover svg {
  transform: translate(10px, 0);
  transition: transform 0.5s ease-in-out;
}

.loc-more:focus {
  outline: 1px solid #C93;
  outline-offset: 8px;
}

.loc-more:active {
  outline: none;
}

.loc-btn {
  align-items: flex-end;
}

.loc-span {
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  align-self: flex-end;
  transition: color 0.5s ease-in-out;
  display: inline-flex;
  line-height: normal;
}

.loc-span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease-in-out;
}

.loc-span:focus {
  color: #CC9933;
}

.loc-span:focus:before {
  outline: 1px solid rgba(204, 153, 51, 1);
  outline-offset: 8px;
}

.loc-span:hover {
  color: rgba(240, 191, 95, 1);
  transition: color 0.5s ease-in-out;
}

.loc-span:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

/* blog */

.blog {
  margin-bottom: 70px;
}

.blog-container {
  min-height: 256px;
  border-radius: 15px;
  background: #E9E9E9;
  justify-content: center;
}

.blog-title {
  padding-left: 40px;
  padding-top: 45px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.blog-travel {
  width: 1080px;
  height: 106px;
  justify-content: center;
}

.blog-trip {
  margin: 0;
  padding: 31px 28px 32px 28px;
  width: 1080px;
  min-height: 106px;
  border-radius: 15px;
  background: #FFF;
  justify-content: space-between;
  border: hidden;
}

.choice {
  align-self: center;
  width: 913px;
}

.form {
  display: flex;
  justify-content: center;
}

.blog-text {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  display: block;
}

.text-trip:not(:last-child) {
  margin-right: 41px;
  flex-grow: 1;
}

.text-trip:last-child {
  margin-right: 51px;
}

.city {
  border: hidden;
  width: 169px;
}

.country {
  border: hidden;
  width: 169px;
}

.date {
  border: hidden;
  width: 121px;
}

.night {
  border: hidden;
  width: 121px;
  border-bottom: inset;
}

.tourist {
  border: hidden;
  width: 121px;
  border-bottom: inset;
}

.blog-button {
  justify-self: flex-end;
}

.blog-btn {
  padding: 13px 30px;
  align-self: center;
  transition: color 0.5s ease-in-out;
}

.blog-btn:focus {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.blog-btn:hover {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.blog-btn:active {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #A47312;
  outline: none;
}

/* contacts */

.contacts {
  min-height: 618px;
  margin-bottom: 40px;
}

.contacts-blog {
  border-radius: 15px;
  background: #FFF;
  padding: 45px;
  justify-content: space-between;
}

.contacts-left {
  flex-direction: column;
  width: 375px;
}

.contact-info {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 25px;
  padding-bottom: 23px;
}

.contact-info:last-child {
  margin-bottom: 45px;
}

.contact-item-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts-item-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 229px;
  min-height: 48px;

}

.contact-item-tel {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: color 0.5s ease-in-out;
}

.contact-item-link {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: color 0.5s ease-in-out;
  align-self: flex-start
}

.contact-item-link:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.contact-item-link:hover {
  color: rgba(240, 191, 95, 1)
}

.contact-item-link:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.contact-link-text {
  margin: 0;
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.descr-item-contact {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 214px;
  min-height: 48px;
}

.left-contacts {
  width: 145px;
}

.contacts-tel {
  flex-direction: column;
}

.contacts-link {
  flex-direction: column;
}

.contacts-link-mail {
  flex-direction: column;
}

.contacts-list {
  flex-direction: column;
}

.btn-contacts {
  padding: 27px 29.5px;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.5s ease-in-out;
}

.btn-contacts:focus {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.btn-contacts:hover {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #C93;
}

.btn-contacts:active {
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: #A47312;
  outline: none;
}

.contact-img {
  margin: 0;
  width: 653px;
  min-height: 528px;
  background-image: url(/img/contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-self: stretch;
  border-radius: 10px;
}

/* footer */

.footer {
  margin-bottom: 30px;
}

.footer-container {
  min-height: 340px;
  flex-direction: column;
  background: #333;
  border-radius: 15px;
}

.footer-contain {
  padding: 45px;
  background: url(/img/footer-logo.svg);
  background-repeat: no-repeat;
  background-position-x: 739px;
  background-position-y: bottom;
  margin-bottom: 1px;
}

.footer-left {
  flex-direction: column;
  width: 302px;
  margin-right: 125px;
}

.footer-info {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  margin-bottom: 37px;
}

.footer-text {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  margin-bottom: 40px;
}

.footer-link {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: color 0.5s ease-in-out;
  align-self: flex-start;
}

.footer-link:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.footer-link:hover {
  color: rgba(204, 153, 51, 1);
}

.footer-link:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.footer-center {
  flex-direction: column;
  width: 359px;
  margin-right: 269px;
}

.footer-adress {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}

.footer-tel {
  flex-direction: column;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 15px;
}

.footer-link-mail {
  flex-direction: column;
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-item-tel {
  transition: color 0.5s ease-in-out;
  align-self: flex-start
}

.footer-item-tel:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.footer-item-tel:hover {
  color: rgba(204, 153, 51, 1);
}

.footer-item-tel:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.footer-item-link {
  transition: color 0.5s ease-in-out;
  align-self: flex-start
}

.footer-item-link:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.footer-item-link:hover {
  color: rgba(240, 191, 95, 1)
}

.footer-item-link:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.communication:focus {
  outline-offset: 5px;
  outline: 1px solid #C93;
  color: rgba(204, 153, 51, 1);
}

.communication:hover {
  color: rgba(240, 191, 95, 1);
}

.communication:active {
  color: rgba(164, 115, 18, 1);
  outline: none;
}

.footer-right {
  flex-direction: column;
}

.footer-icon {
  flex-direction: column;
  align-self: flex-end;
}

.social-link {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease-in-out;
}

.social-link svg {
  fill: rgba(153, 153, 153, 1);
}

.social-item {
  background-position: right;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link svg path{
  transition: fill 0.4s ease;
}

.social-link:hover svg path {
  fill: #CC9933;
}

.social-link:focus svg path {
  fill: #CC9933;
}

.social-link:active svg path {
  fill: #A47312;
}